.my-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 77px;
  
  left: -75px;
  margin-bottom: 48px;
}

.my-search-form__input {
  border: none;
  width: 200px !important;
  height: 40px;
  border: 1px solid rgb(199, 198, 198);
}
.search-icon {
  background-color: #fff;
}
