.form-staff{
    margin-left: 537px;
   
}
.form-staff span{
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
  }
.button-update-staff{
    margin-top: 25px;
    margin-left: 575px;
}
.form-update-staff{
    margin-top: 30px;
}
.my-form-input-1{
    display: flex;
    justify-content: center;
}
.title-update-staff{
    text-align: center;
 
}