.form-update-bus{
    
}
.update-bus-title{
    font-size: 30px;
    color: red;
    position: relative;
    left: 510px;
}
.button-update-bus{
    margin-top: 25px;
    margin-left: 600px;
}
.title-update-bus{
    margin-top: 30px;
}