.add-bus-title{
    margin-top: 40px;
    color: black;
    font-size: 30px;
    text-align: center;
}
.button-add-bus{
    margin-top: 25px;
    display: flex;
    justify-content: center;
  
}

.form-add-bus{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formBus{
    margin-top: 0px;
}