.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__input {
  border: none;
  width: 200px !important;
  height: 50px;
  border: 1px solid rgb(102, 126, 231);
}
.search-icon {
  background-color: #fff;
}
