.form-add-bus-route{
    margin-top: 40px;
    width: 100%;
    
}
.add-route-title{
    color: red;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: 30px;
}
.form-input{
    margin-left: 520px;
}
.button-of-add-route{
    margin-left: 542px;
}