.form-add-bus-route{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-route-title{
    color: black;
    font-size: 30px;
    text-align: center;
   
}
.my-form-input{
   
    margin-top: 20px;
}
.button-of-add-route{
    //margin-left: 542px;
}
.myselect{
    width: 350px;
    height: 40px;
    border-radius: 3px;
    
    margin-bottom: 10px;
}
.mypara{
    margin: 25px;

   
}
.myform{
    padding: 7px;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 10px;
    
}
h5{
    margin-bottom: 0px;
}