.my-search-form-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 109px;
    left: 50px;
    margin-bottom: 48px;
    width: 1010px;
}
.button-revenues{
    width: 245px;
    height: 40px;
}
.mytable1{
    width: 80%;
}