.title-chart{
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.my-form-chart{
    display: flex;
    width: 450px;
    text-align: center;

}
.chart{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}