.mytable{
    width: 90%;
}
.mytablebustrip{
    width: 100%;
   
}
.addbustripbutton{
    position: relative;
    left: 1130px;
}
.editbutton{
    margin-top: 40px;
    position: relative;
    left: 986px;
    top: -50px;
}
.table-container{
    height: 280px;
    margin-top: 30px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.my_date_input{
    height: 40px;
}
.my-search-form-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1010px;
}
.my-table-list{
    width: 100%;
}
.button-revenues{
    width: 245px;
    height: 40px;
}
.my-search-bar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-span{
    height: 40px;
}
.button-in-bustrip{
    height: 40px;
}
.my-tr{
    color: none;
}