.addbusbutton{
    position: relative;
    left: 960px;
}
.table-list{
    margin-top: 20px;
}
.myTitle{
    text-align: center;
}
.edit-search{
    top: 80px;
    left: -303px;
}
.editbutton{
    margin-top: 40px;
    position: relative;
    left: 1010px;
    top: -24px;
}
.myLabel{
    margin-top: 30px;
}