.footer {
  margin-top: 30px;
  padding: 50px 200px;
  background-color: rgb(59, 54, 54);
}
.infor {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.social-network {
  display: flex;
  justify-content: flex-start;
}
.infor-content {
  margin-left: 16px;
  color: rgb(241, 238, 238);
}

.infor-title {
  font-size: 16px;
  color: rgb(36, 159, 241);
  font-weight: 400;
}

.phone-number {
  font-size: 28px;
  color: rgb(230, 226, 17);
  font-weight: 700;
}
.social-network__icon {
  margin-top: 16px;
  margin-right: 20px;
}
