.button-of-delete-route{
    position: relative;
    left: 30px;
}
.delete-route-title{
    position: relative;
    color: red;
    left: 580px;
    font-size: 30px;

}
.delete-bus-route{
    margin-top: 40px;
}