.my-search-form-review-total{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-search-form-review{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}