.form-update-bus-route{
    margin-top: 40px;
}
.update-route-title{
    color: red;
    font-size: 30px;
    position: relative;
    left: 538px;
}
.button-of-update-route{
    margin-top: 25px;
    margin-left: 600px;
}