.mytable{
    width: 80%
}
.addbustripbutton{
    position: relative;
    left: 1130px;
}
.editbutton{
    margin-top: 40px;
    position: relative;
    left: 1196px;
}
.table-container{
    height: 280px;
    margin-top: 10px;
    overflow-y: scroll;
}
