
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
:root {
  --primary-color: rgba(245, 31, 31, 0.8);
}
*::-webkit-scrollbar { width: 0 !important }

.row {
  display: flex;
  flex-wrap: wrap;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
}
.my-btn-primary {
  background-color: rgb(31, 157, 196);
  text-align: center;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.my-group-btn {
  margin-top: 16px;
  display: flex;
  justify-content: space-evenly;
}
p {
  margin-bottom: 0;
}
.table td,
.table th {
  vertical-align: middle;
}
.table-scroll {
  max-height: 400px;
  overflow: scroll;
}
.my-table {
  border-radius: 2px;
  width: 100%;
}
.my-table-row {
  height: 40px;
}

.my-table-row:first-child {
  background-color: rgb(56, 144, 170);
}

.my-table-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}

.my-table-item {
  font-size: 16px;
  font-weight: 400;
  color: rgb(24, 24, 24);
  padding-left: 16px;
  padding-right: 16px;
}

.my-table-item_center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1,1,1,0.3);
  display: none;
}
.remove-content {
  background-color: #fff;
  width: 400px;
  padding: 24px;
  border-radius: 4px;
}
.remove-lable {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}
.actions .btn:first-child {
  margin-right: 24px;
}
.flex-center {
  display: flex;
  justify-content: center;
}