.menu-bar{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 1px 2px 4px rgb(236, 234, 234);
    padding: 0 100px;
}
.nav{
    display: flex;
}
.nav li{
    position: relative;
}
.nav > li{
    display: inline-block;
    width: calc(100%/6);
   
}

.nav >li >a{
    color:rgb(31, 29, 29);
    font-weight: 600;
}
.nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
}

.nav >li.active {
    background-color: rgb(155, 210, 252);
}

.nav >li.active >a {
    color: #ffffff;
}

.nav >li:hover> a, .nav .subnav li:hover{
    color:#fff;
    background-color: rgb(155, 210, 252);
    display: block;
    cursor: pointer;
    
}
.subnav{
    min-width: 200px;
    list-style: none;
    text-align: left;
    background-color: whitesmoke ;
    z-index: 1;
}
.nav .subnav{
    display: none;
    box-shadow: 0px 0px 10px rgb(221, 219, 219);
    position: absolute;
    left: 0;
    right: 0;
    background-color: whitesmoke;
   
 }
 .nav .subnav a{
    color: black;
    line-height: 38px;
    padding: 0px 12px;
}
.nav li:hover .subnav{
    display: block;
}