p {
  margin-bottom: 0;
}
.booking-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.booking_header {
  display: flex;
  justify-content: space-evenly;

  margin-top: 50px;
  border-bottom: 1px solid rgb(236, 232, 232);
}

.booking_header__item:first-child {
  color: blue;
}
.booking_note {
  margin-top: 20px;
}
.note {
  padding-bottom: 50px;
}
.note__title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(24, 23, 23);
  margin-bottom: 30px;
}

.note__detail {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.note__detail-item {
  align-items: center;
  font-size: 16px;
  color: rgb(41, 40, 40);
  margin-bottom: 0;
  margin-left: 16px;
}

.floor {
  background-color: rgb(221, 218, 218);
  border-radius: 5px;
}

.floor-name {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.floor__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.chair-info {
  width: 33.33%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.price-next {
  display: flex;
  align-items: center;
}
.booking_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgb(236, 232, 232);
  padding: 16px 100px;
}

.price {
  display: flex;
  justify-content: space-evenly;
}

.price-title {
  font-size: 16px;
  font-weight: 500;
}

.price-detail {
  font-size: 16px;
  color: rgb(35, 168, 245);
  margin-right: 16px;
  margin-left: 10px;
}

.next-btn {
  height: 40px;
  width: 80px;

  background-color: rgb(62, 160, 240);
  color: #fff;
  border: none;
  border-radius: 2px;
}
.form-booking {
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  display: none;
}
