.delete-bus{
    margin-top: 40px;
}
.delete-bus-title{
    color: red;
    position: relative;
    font-size: 30px;
    left: 630px;
}
.button-delete-bus{
    margin-top: 25px;
    position: relative;
    left: 610px;
}