.delete-staff{
    margin-top: 40px;
}
.delete-title{
    color: red;
    font-size: 30px;
    position: relative;
    left: 560px;
}
.delete-infor{
    margin-top: 25px;
    position: relative;
    left: 300px;
    width: 70%;
}
.delete-infor span{
    color: red;
}
.delete-button-area{
    margin-top: 25px;
    margin-left: 594px;
}